// showing default values
//$accentColor = red
//$textColor = red
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTip = #42b983
$badgeWarning = darken(#ffe564, 35%)
$badgeError = #DA596



h1
    color: red